*{
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
}

body{
  height: 10000px;
}

header{
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  padding: .7rem auto;
}

header h2{
  font-weight: 800;
  font-size: 4rem;
}

header h2 span{
  color: #FD6E0A;
}

.navitems{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>ul{
  display: flex;
  align-items: center;

}

nav>ul>li{
  list-style-type: none;
  margin-left: 3.1rem;
}

nav>ul>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn_primary{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FD6E0A;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 9rem;
  width: 100vw;
  overflow: hidden;
  background-color: #FFF8F3;
  background-image: url(images/header_bg.png) ,url(images/developer.png);
  background-repeat: no-repeat;
  background-position: right bottom, top left;
  height: 48rem;
}

.header_content{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header_content>h3{
  font-weight: 600;
  color: #474747;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.header_content>h1{
  color: #FD6E0A;
  font-weight: 800;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.header_content>h2{
  font-weight: 700;
  color: #181818;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.header_content>p{
  width: 80%;
  color: #757575;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_primary>span{
  margin-right: .3rem;
}

.contact{
  background-color: #FFF8F3;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
  margin-left: 1rem;
}

.header_body .pic_con{
  width: 50vw;
  height: 100%;
}

.header_body .pic_con img{
  width: 100%;
}

@media screen and (max-width: 576px) {
  header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 101vw;
  }

  .hbtn{
    display: none;
  }

  .btn{
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .btn_primary{
    font-size: 1rem;
    font-weight: 700;
  }

  .navitems{
    margin-left: -1.5rem;
    justify-content: center;
  }

  .header_body{
    padding: 9.5rem 1rem;
    width: 95vw;
    height: auto;
    align-items: flex-start;
    justify-content: center;
  }

  .header_content{
    justify-content: space-evenly;
  }

  .header_content>h2{
    font-size: 1.85rem;
  }

  .header_content>p{
    margin-top: 1.5rem;
    width: 95vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  header{
    justify-content: center;
  }

  .navitems{
    margin-left: -3rem;
  }

  .header_body{
    padding: 1rem;
    align-items: end;
  }

  .header_body .pic_con{
    height: 50%;
  }
}